@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Teko:400,700&display=swap&subset=devanagari");
@import url("https://fonts.googleapis.com/css?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,700&display=swap&subset=devanagari");
@import url("https://fonts.googleapis.com/css?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../airpods_icons/fonts/icomoon.eot?8psvce");
  src: url("../airpods_icons/fonts/icomoon.eot?8psvce#iefix") format("embedded-opentype"), url("../airpods_icons/fonts/icomoon.ttf?8psvce") format("truetype"), url("../airpods_icons/fonts/icomoon.woff?8psvce") format("woff"), url("../airpods_icons/fonts/icomoon.svg?8psvce#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airpods-pro:before {
  content: "\e900";
}

.icon-airpods-1:before {
  content: "\e901";
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 100vw;
  overflow-x: hidden;
  font-size: 25px;
}

body .modal {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

body .modal .bg-block {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

body .modal .content {
  background-color: white;
  position: relative;
  padding: 50px 150px;
  display: block;
  max-height: 90vh;
  overflow: hidden;
}

body .modal .content .modal-context {
  height: 84vh;
  overflow: hidden;
  -webkit-overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none !important;
  scrollbar-width: none  !important;
}

body .modal .content .modal-context::-webkit-scrollbar {
  width: 0  !important;
}

body .modal .content .close {
  position: absolute;
  color: #0a5bc4;
  width: 35px;
  height: 35px;
  background-color: transparent;
  top: 1px;
  right: 20px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  overflow: visible;
}

body .modal .content .close span {
  width: 100%;
  background-color: transparent;
}

body .modal .content .close span::before, body .modal .content .close span::after {
  width: 100%;
}

body .modal .content .close span::before {
  top: 0;
  transform: rotate(-45deg);
}

body .modal .content .close span::after {
  top: 0;
  transform: rotate(45deg);
}

body .modal .content input {
  margin: 38px 0px;
  line-height: 2.5;
}

body .modal .content h3 {
  margin: 0px 2px 54px;
}

body .modal.open {
  display: flex;
}

body header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  min-width: 400px;
  height: 100vh;
  margin-top: -100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  transition: 1s ease;
  z-index: 1000;
  font-family: 'Teko', 'Play', sans-serif;
}

body header .siteHeader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body header .siteHeader .navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body header .siteHeader .navMenu ul {
  position: relative;
}

body header .siteHeader .navMenu ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0 20px;
  margin: 5px 0px;
  overflow: hidden;
  display: table;
}

body header .siteHeader .navMenu ul li span, body header .siteHeader .navMenu ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  padding-top: 12px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}

body header .siteHeader .navMenu ul li span::before, body header .siteHeader .navMenu ul li a::before {
  content: attr(data-text);
  position: absolute;
  bottom: 100%;
  left: 0;
  color: white;
}

body header .siteHeader .navMenu ul li:before {
  content: '';
  position: absolute;
  background: #0a5bc4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: bottom;
}

body header .siteHeader .navMenu ul li:hover span, body header .siteHeader .navMenu ul li:hover a {
  transform: translateY(100%);
  color: white;
}

body header .siteHeader .navMenu ul li:hover:before {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}

body header.menuActive {
  /*Стили для активного меню*/
  margin-top: 0;
}

body .myHanburger {
  /*Стили для кнопки меню*/
  display: block;
  position: fixed;
  right: 20px;
  top: 15px;
  padding: 5px;
  margin: 0;
  width: 60px;
  height: 60px;
  font-size: 0;
  box-shadow: none;
  overflow: hidden;
  border: none;
  z-index: 1001;
}

body .myHanburger:focus {
  /*Убираем выделения кнопкии меню при нажатии*/
  outline: none;
}

body .myHanburger span {
  /*Стили для полосок внутри кнопки меню*/
  display: block;
  position: absolute;
  top: 28px;
  width: 48px;
  height: 4px;
  background: #0a5bc4;
}

body .myHanburger span:before {
  /*Стили для верхней полоски внутри кнопки меню*/
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 100%;
  height: 4px;
  background: #0a5bc4;
}

body .myHanburger span:after {
  /*Стили для нижней полоски внутри кнопки меню*/
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  width: 100%;
  height: 4px;
  background: #0a5bc4;
}

body .myHanburger {
  background: transparent;
}

body .myHanburger span {
  /*Задаем длительность анимации для смены background полоски кнопки меню*/
  transition: background 0s 0.3s;
}

body .myHanburger span:before {
  /*Задаем длительность анимации для верхней полоски кнопки меню*/
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s,0s;
  transition-property: top, transform;
}

body .myHanburger span:after {
  /*Задаем длительность анимации для нижней полоски кнопки меню*/
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s,0s;
  transition-property: bottom, transform;
}

body .myHanburger.isActive {
  /*Стили для активной кнопки меню*/
  color: white;
}

body .myHanburger.isActive span {
  /*Стили для полосок активной кнопки меню*/
  background: none;
}

body .myHanburger.isActive span:before {
  /*Стили для верхней полоски активной кнопки меню*/
  top: 0;
  transform: rotate(-45deg);
  /*Поворот на -45 градусов*/
  transition-delay: 0s, 0.3s;
}

body .myHanburger.isActive span:after {
  /*Стили для нижней полоски активной кнопки меню*/
  bottom: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}

body .banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

body .banner img {
  height: 100%;
}

body .banner .gradientblock {
  background: transparent;
  background: linear-gradient(to top, #1b1b1b 0%, transparent 100%);
  height: 100vh;
  width: 100vw;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

body .banner .siteTitle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', 'Play', sans-serif;
}

body .banner .siteTitle h1 {
  text-align: center;
  font-size: 4.5em;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
  color: white;
  line-height: 130px;
}

body .banner .siteTitle h1 span:last-child {
  font-size: 130px;
  display: inline-flex;
  color: #0a5bc4;
}

body .container-wide {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
}

body .container-wide .hiwdBw {
  display: inline;
  width: 100%;
  max-width: 1160px;
}

body .container-wide .bAGyCr {
  text-align: center;
  margin-bottom: 105px;
}

body .container-wide .bUEpDn {
  margin-block: 0.67em;
  margin-inline: 0px;
  text-align: center;
  font-weight: 600;
  color: black;
  line-height: 1.23;
  font-size: 38px;
  margin-bottom: 40px;
}

body .container-wide .jJpdDo {
  max-width: 560px;
  font-size: 25px;
  margin: 55px auto 70px;
  line-height: 1.5;
  font-weight: 300;
}

body .container-wide .fWxumN {
  padding: 0px;
  width: 100%;
  max-width: 1200px;
}

body .container-wide .fElMzr {
  width: 100%;
  content: "";
  display: table;
  clear: both;
  max-width: 760px;
  margin: 0px auto;
}

body .container-wide .kxZWSs {
  width: 50%;
  text-align: right;
  float: none;
}

body .container-wide .cvuikC {
  padding-right: 56px;
  text-align: right;
  padding-left: 0px !important;
}

body .container-wide .hqEaYA {
  text-align: right;
  float: none;
}

body .container-wide .dBEucF {
  position: relative;
  padding-bottom: 30px;
}

body .container-wide .fElMzr {
  width: 100%;
  content: "";
  display: table;
  clear: both;
  max-width: 760px;
  margin: 0px auto;
}

body .container-wide .kxZWSs.flipped {
  float: right !important;
  text-align: left !important;
}

body .container-wide .cvuikC.flipped {
  text-align: left;
  padding-right: 0px !important;
  padding-left: 56px !important;
}

body .container-wide .jzZUwL {
  width: 100%;
  display: block;
  margin-bottom: 14px;
  margin-left: auto;
}

body .container-wide .gsyRVd.flipped {
  text-align: left;
}

body .container-wide .jFPctD {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
}

body .container-wide .jSYvfE {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  margin: 0px auto;
  background-color: #0a5bc4;
  border-radius: 100%;
  border: 2px solid white;
}

body .container-wide .cMApHi {
  position: absolute;
  top: 25%;
  left: 0px;
  right: 0px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.35;
  font-weight: 600;
}

body .container-wide .joLJeQ {
  position: absolute;
  width: 2px;
  inset: 0px;
  background: #0a5bc4;
  margin: 0px auto;
  display: block;
  text-align: left;
}

body .container-wide .fvcBYL {
  color: #0a5bc4;
  border: 2px solid #0a5bc4;
  background-color: #fafafa;
  border-radius: 50%;
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  line-height: 47px;
  font-size: 20px;
}

body .container-wide .inBmZO {
  padding-left: 40px;
  vertical-align: top;
  display: table-cell;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: content-box;
}

body .container-wide .gdJPMO {
  display: flex;
  align-items: center;
  margin: 25px 10px;
}

body .container-wide .kSUooD {
  margin: 100px 0px 30px;
}

body .container-wide .dtoRLS {
  font-weight: bold;
}

body .container-wide .xCnor {
  text-align: justify;
}

body .container-wide .img-nova-poshta {
  width: 300px;
  margin-left: 55px;
}

body .container-small {
  max-width: 780px;
}

body .clean-slider {
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 20px #1b1b1b;
  overflow: hidden;
  height: 498px;
  transform: translateZ(0);
}

body .clean-slider .slide {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 498px;
}

body .clean-slider .slide img {
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
}

body .my-btn {
  padding: 0.7em 4em;
  display: block;
  max-width: 300px;
  margin: 25px auto;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-color: #0a5bc4;
}

body .my-btn:hover {
  color: white;
  background-color: #1969d1;
  border: 1px solid #1969d1;
}

body .my-btn-success {
  background-color: #20a553;
  border: 1px solid #20a553;
}

body .my-btn-success:hover {
  background-color: #29b65f;
  border: 1px solid #29b65f;
}

body .bold-text {
  font-weight: bold;
  margin: 25px 0px;
  position: relative;
}

body .bold-text span {
  display: inline-block;
  text-align: center;
  width: 35px;
  color: #0a5bc4;
  border: 2px solid #0a5bc4;
  border-radius: 50%;
}

body .btn-succes {
  background-color: #20a553;
  border: 1px solid #20a553;
}

body .my-section {
  padding: 100px 0px 100px;
}

body .my-section img {
  max-width: 100%;
  float: right;
}

body .my-title {
  margin: 0px 0px 100px;
  text-align: center;
  width: 100%;
  font-size: 40px;
}

body .my-title span {
  padding: 15px 50px;
  border-bottom: 4px solid #0a5bc4;
}

body .font-30 {
  font-size: 30px;
}

body #services {
  background-color: #1b1b1b;
  color: white;
  min-height: 400px;
}

body #services h2 {
  font-size: 40px;
}

body #services h2 span {
  padding: 15px 50px;
  border-bottom: 4px solid #0a5bc4;
}

body #services h4 span {
  padding: 5px 50px;
  color: #0a5bc4;
  display: block;
}

body #services h4 span:last-child {
  color: white;
  font-weight: bold;
}

body #services .services-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

body #services .services-wrap .service {
  min-width: 300px;
  flex-grow: 3;
  max-width: 25%;
  color: white;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 100px 0px;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

body #services .services-wrap .service .icon {
  display: inline-block;
  font-size: 3em;
  color: #0a5bc4;
}

body #services .services-wrap .service .icon span {
  font-size: 100px;
}

body #services .services-wrap .service .title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 20px 0px;
}

body #services .services-wrap .service .price span {
  color: #0a5bc4;
}

body #services .services-wrap .service:hover {
  background-color: white;
  color: black;
}

body #you_to_us ol {
  font-size: 25px;
}

body #you_to_us img {
  max-width: 310px;
  float: right;
}

body #you_get {
  background-color: #1b1b1b;
  color: white;
}

body #you_get ol {
  font-size: 25px;
}

body #delivery {
  background-color: #1b1b1b;
  color: white;
  padding: 80px 0px 30px;
}

body #delivery p {
  margin: 40px 0px;
  text-align: center;
  font-size: 25px;
}

body #delivery .col-md-4 {
  padding: 0px 40px;
}

body #delivery .card {
  background-color: white;
  height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  color: black;
  padding: 25px 10px;
  font-size: 24px;
  text-align: center;
}

body #delivery .card p {
  margin: 20px 0px 20px;
}

body #delivery .card h2 {
  color: #0a5bc4;
  font-size: 2.2em;
  padding: 20px 0px;
}

body .product-wrap {
  text-align: center;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 15px 0px;
}

body .product-wrap .product-item {
  width: 100%;
  background-color: white;
  padding: 40px 0px;
  transition: all 0.5s ease-in-out;
}

body .product-wrap .product-item:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 10px 1px, rgba(0, 0, 0, 0.06) 0px 3px 14px 3px, rgba(0, 0, 0, 0.1) 0px 4px 5px 0px;
}

body .product-wrap .product-item h3, body .product-wrap .product-item h5, body .product-wrap .product-item p {
  margin: 25px 0px;
}

body .product-wrap .product-item h3 {
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-weight: 700;
}

body .product-wrap .product-item h5 {
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

body .product-wrap .product-item p {
  margin: 8px 0px 0px;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  line-height: 1.35;
  font-weight: 300;
  color: black;
  text-align: center;
}

body .product-wrap .img-wrap {
  width: 100%;
  height: 280px;
}

body .product-wrap .img-wrap img {
  width: 100%;
}

body .catalog {
  background-color: #f7f7f7;
  min-height: 100vh;
  width: 100vw;
}

body #good_to_know {
  padding: 100px 0px 0px;
}

body #good_to_know ol {
  margin: 100px 0px 50px;
}

body .basket {
  position: fixed;
  z-index: 5;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
}

body .basket img {
  width: 50px;
}

body .basket .quantity {
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 25px;
  height: 25px;
  background-color: #0a5bc4;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 2px 0px;
  font-size: 16px;
}

body .cart-wrapper .cart-item {
  margin: 15px 0px;
}

body .cart-wrapper .cart-item img {
  width: 100%;
}

body .cart-wrapper .cart-item .text-block, body .cart-wrapper .cart-item .action-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

body .cart-wrapper .cart-item .text-block button, body .cart-wrapper .cart-item .action-block button {
  font-size: 25px;
}

body .delivery-title {
  margin: 40px 0px 100px;
}

body .footer {
  width: 100%;
  background-color: #1b1b1b;
  color: white;
  padding: 20px;
}

body .footer h5 {
  text-align: center;
}

body .footer h5 a {
  text-decoration: none;
  padding: 0px 3px;
}

body .gallery-flex {
  display: flex;
  flex-wrap: wrap;
}

body .gallery-flex .gallery-img {
  width: 33%;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

body .gallery-flex .gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center, center;
}

body .gallery-flex .gallery-img .pulse {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-animate 3s linear infinite;
  opacity: 0.7;
  font-size: 20px;
  color: #0a5bc4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse-animate {
  0% {
    box-shadow: 0 0 0 0 rgba(10, 91, 196, 0.377);
  }
  50% {
    box-shadow: 0 0 0 40px rgba(10, 91, 196, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(10, 91, 196, 0.377);
  }
}

body .gallery-flex .gallery-img .info {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.692);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: 0.5s all ease;
}

body .gallery-flex .gallery-img .info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 7px solid white;
  border-left: 7px solid white;
  z-index: 5;
}

body .gallery-flex .gallery-img .info:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
  z-index: 5;
}

body .gallery-flex .gallery-img .info h3 {
  margin: 30px 0px;
  text-transform: uppercase;
  font-family: 'Teko', 'Play', sans-serif;
}

body .gallery-flex .gallery-img .info a {
  padding: 10px 40px;
  border: 3px solid #0a5bc4;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a5bc4;
  border-radius: 5px;
  transition: 0.5s;
}

body .gallery-flex .gallery-img .info a:hover {
  border: 3px solid white;
  color: white;
}

body .gallery-flex .gallery-img .info.show {
  opacity: 1;
}

body .gallery-flex .gallery-img-4 {
  width: 25%;
}

body .gallery {
  width: 100%;
  display: grid;
  margin: 150px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-gap: 15px;
  grid-template-areas: "img-1 img-1 img-2 img-2" "img-3 img-3 img-2 img-2" "img-3 img-3 img-4 img-4";
}

body .gallery div {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

body .gallery div img {
  object-fit: cover;
  object-position: center, center;
  width: 100%;
  height: 100%;
}

body .gallery div .info {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.692);
  opacity: 0;
  transition: 0.5s all ease;
}

body .gallery div .info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-top: 7px solid white;
  border-left: 7px solid white;
  z-index: 5;
}

body .gallery div .info:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
  z-index: 5;
}

body .gallery div .info h3 {
  margin: 30px 0px;
  text-transform: uppercase;
  font-family: 'Teko', 'Play', sans-serif;
}

body .gallery div .info a {
  padding: 10px 40px;
  border: 3px solid #0a5bc4;
  text-transform: uppercase;
  text-decoration: none;
  color: #0a5bc4;
  border-radius: 5px;
  transition: 0.5s;
}

body .gallery div .info a:hover {
  border: 3px solid white;
  color: white;
}

body .gallery div:hover .info {
  opacity: 1;
}

body .gallery .img-1 {
  grid-area: img-1;
}

body .gallery .img-2 {
  grid-area: img-2;
}

body .gallery .img-3 {
  grid-area: img-3;
  min-height: 800px;
}

body .gallery .img-4 {
  grid-area: img-4;
  min-height: 800px;
}

body .gallery .img-5 {
  grid-area: img-5;
}

body .gallery .img-6 {
  grid-area: img-6;
}

body .gallery .img-7 {
  grid-area: img-7;
}

body .p-first-tab {
  text-indent: 30px;
  text-align: justify;
}

body .reviews-slider .slide {
  position: relative;
  padding: 5px;
}

body .reviews-slider .slide img {
  width: 100%;
}

body .product-slider .slide {
  position: relative;
}

body .product-slider .slide img {
  width: 100%;
}

@media (max-width: 1100px) {
  body header .siteHeader .navMenu ul li span, body header .siteHeader .navMenu ul li a {
    font-size: 1.5em;
    text-align: left;
  }
  body .btn-succes {
    width: 100%;
    padding: 0.7em;
  }
  body #delivery .card {
    height: 100%;
  }
  body .clean-slider-wrap {
    margin: auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .banner .siteTitle h1 {
    font-size: 3.6em;
  }
  body .gallery-img {
    width: 50%;
  }
  body .gallery-img-4 {
    width: 33%;
  }
}

@media (max-width: 1010px) {
  body #services .services-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  body #services .services-wrap .service {
    font-size: 20px !important;
  }
  body #services .services-wrap .service .title {
    font-size: 22px !important;
  }
}

@media (max-width: 860px) {
  body {
    font-size: 16px;
  }
  body .my-section {
    padding: 60px 0px;
    width: 100vw;
    overflow-y: hidden;
  }
  body .my-section img {
    display: block;
    float: none !important;
    margin: 0px auto;
  }
  body .my-btn {
    max-width: 100%;
    padding: 10px 25px;
  }
  body .product-wrap {
    position: relative;
    height: auto;
    padding: 7px;
    margin: 0px;
  }
  body .product-wrap .img-wrap {
    position: relative;
    width: 100%;
    height: auto;
  }
  body .product-wrap .img-wrap img {
    width: 100%;
    height: auto;
  }
  body .product-wrap .product-item {
    height: 100%;
    position: relative;
    padding: 0px;
  }
  body .product-wrap .product-item button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 14px;
  }
  body .product-wrap .product-item .text {
    margin-bottom: 80px;
  }
  body .product-wrap .product-item p {
    font-size: 13px;
  }
  body .product-wrap .product-item h5, body .product-wrap .product-item h3 {
    font-size: 14px;
    margin: 8px 0px;
  }
  body .modal .content {
    width: 85%;
    padding: 50px 15px;
  }
  body .banner {
    display: flex;
    align-items: center;
    height: 250px;
  }
  body .banner .gradientblock {
    height: 100%;
  }
  body .banner .siteTitle {
    height: 100%;
  }
  body .banner .siteTitle h1 {
    font-size: 1.4em;
  }
  body .banner .siteTitle h1 span:last-child {
    font-size: 1.6em;
  }
  body #services h4 span {
    display: block;
    margin: 0px 20px;
  }
  body #services h4 span span {
    display: block;
    color: #0a5bc4;
    border-top: none;
    border-bottom: none;
    margin: 2px;
    padding: 0px;
  }
  body #services h4 span span:last-child {
    color: white;
    font-weight: bold;
  }
  body #services .services-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  body #services .services-wrap .service {
    font-size: 20px !important;
    padding: 20px 0px;
  }
  body #services .services-wrap .service .title {
    font-size: 22px !important;
  }
  body #services .services-wrap .service:hover {
    background-color: #1b1b1b;
    color: white;
  }
  body #services .services-wrap a .title {
    text-decoration: underline;
  }
  body .my-title {
    margin: 0px 0px 35px;
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  body .my-title span {
    display: block;
    margin: 0px 0px;
    font-size: 30px;
  }
  body .basket {
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
  }
  body .basket img {
    width: 100%;
  }
  body #good_to_know ol {
    margin: 50px 0px 50px;
  }
  body .clean-slider {
    border-radius: 20px;
    overflow: hidden;
    height: 460px;
  }
  body .delete-from-cart {
    padding: 0px;
  }
  body .gallery-title {
    margin: 50px 0px;
  }
  body .gallery-flex {
    flex-wrap: wrap;
  }
  body .gallery-flex .gallery-img, body .gallery-flex .gallery-img-4 {
    width: 100%;
    margin: 10px;
  }
  body .container-wide .jJpdDo {
    font-size: 20px;
    margin: 15px 0px;
  }
  body .container-wide .img-nova-poshta {
    margin-left: 0px;
  }
  body .container-wide .bUEpDn {
    margin: 20px 0px;
  }
  body .container-wide .kSUooD {
    margin: 60px 0px 30px;
  }
  body .container-wide .bAGyCr {
    margin-bottom: 40px;
  }
  body .footer h5 {
    font-size: 16px;
  }
  body .footer h5 .link-wraper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  body .footer h5 .link-wraper a {
    font-size: 25px;
    margin: 20px 20px 0px;
  }
  body #delivery {
    padding: 5px 0px 20px;
  }
  body .clean-slider {
    margin: 20px 0px;
  }
}

@media (max-width: 640px) {
  body #services h4 span {
    color: #0a5bc4;
    border-top: none;
    border-bottom: none;
    margin: 2px;
    padding: 0px;
  }
  body #services h4 span:last-child {
    color: white;
    font-weight: bold;
  }
  body .banner .siteTitle h1 {
    line-height: 50px;
  }
  body .myHanburger {
    width: 40px;
    top: 8px;
  }
  body .myHanburger span {
    top: 28px;
    width: 35px;
    height: 3px;
  }
  body .myHanburger span::before, body .myHanburger span::after {
    height: 3px;
  }
  body .myHanburger span::before {
    top: -11px;
  }
  body .myHanburger span::after {
    bottom: -11px;
  }
  body .container-wide .dBEucF {
    padding-bottom: 0px;
  }
  body .container-wide .joLJeQ {
    margin: 0px 5px;
  }
  body .container-wide .jSYvfE {
    margin: 0px;
    left: -15px;
  }
  body .container-wide .kxZWSs {
    width: 100%;
    padding: 15px 15px 15px 35px;
  }
  body .container-wide .cvuikC {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }
  body .container-wide .cvuikC img {
    order: 3;
  }
  body .container-wide .cvuikC.flipped {
    padding-left: 5px !important;
  }
  body .bold-text-mobile {
    margin: 25px 0px;
  }
  body .basket {
    left: 20px;
    bottom: none;
    top: 20px;
    width: 40px;
    height: 40px;
  }
  body .basket .quantity {
    position: absolute;
    bottom: -10px;
    left: -2px;
    width: 20px;
    height: 20px;
    background-color: #0a5bc4;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0px 0px;
    font-size: 14px;
  }
  body #delivery .card {
    height: 500px;
    margin: 10px 0px;
  }
  body #delivery .card p {
    margin: 5px 0px;
  }
  body #you_to_us ol {
    margin: 20px 0px 50px;
    font-size: 16px;
  }
  body #you_get ol {
    font-size: 16px;
  }
  body #good_to_know .my-title {
    margin: -28px 0px -6px !important;
  }
  .mobile-text-center {
    text-align: center;
  }
}
