{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-wide">
        <div class="sc-jfkLlK hiwdBw">
            <div class="sc-fnebDD bAGyCr">
                <h1 class="sc-jcsPjo bUEpDn my-title">
                    <span>Подключение наушников AirPods</span>
                </h1>
                <div class="sc-fkmfBh jJpdDo">
                    Как только вы получите наушники, после ремонта или приобретаете новые наушники,
                    вам нужно выполнить несколько простых действий:
                </div>
            </div>
            <div class="sc-QxirK fWxumN">
                <div class="sc-iuhXDa dBEucF">
                    <div class="sc-eCbnUT fElMzr">
                        <div class="sc-irqbAE kxZWSs">
                            <div class="sc-ezjrSx hqEaYA">
                                <div class="sc-kBqmDu joLJeQ">

                                </div>
                                <div class="sc-gJjCVn jSYvfE">
                                    <div class="sc-eKaNGd cMApHi">
                                        1
                                    </div>
                                </div>
                            </div>
                            <div class="sc-fGgQJw cvuikC">
                                <div class="sc-hmvkKb gsyRVd">
                                    <strong>Шаг 1</strong>
                                </div>
                                <div class="sc-iiBnNu jFPctD">
                                    <p>
                                        Активируйте Bluetooth на вашем iPhone. 
                                        Откройте Настройки и нажмите "і", затем "Забыть это устройство".
                                    </p>
                                    <p>
                                        Если же у вас Android нажмите просто на "удалить".
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-iuhXDa dBEucF">
                    <div class="sc-eCbnUT fElMzr">
                        <div class="sc-irqbAE kxZWSs flipped">
                            <div class="sc-ezjrSx hqEaYA">
                                <div class="sc-kBqmDu joLJeQ">

                                </div>
                                <div class="sc-gJjCVn jSYvfE">
                                    <div class="sc-eKaNGd cMApHi">
                                        2
                                    </div>
                                </div>
                            </div>
                            <div class="sc-fGgQJw cvuikC flipped">
                                <img src="{% static 'img/Step_1.jpg' %}" class="sc-dYXZXt jzZUwL">
                                <div class="sc-hmvkKb gsyRVd flipped">
                                    <strong>Шаг 2</strong>
                                </div>
                                <div class="sc-iiBnNu jFPctD">
                                    <p>
                                        Поместить оба наушника в кейс. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-iuhXDa dBEucF">
                    <div class="sc-eCbnUT fElMzr">
                        <div class="sc-irqbAE kxZWSs">
                            <div class="sc-ezjrSx hqEaYA">
                                <div class="sc-kBqmDu joLJeQ">

                                </div>
                                <div class="sc-gJjCVn jSYvfE">
                                    <div class="sc-eKaNGd cMApHi">
                                        3
                                    </div>
                                </div>
                            </div>
                            <div class="sc-fGgQJw cvuikC">
                                <img src="{% static 'img/632046-200.png' %}" class="sc-dYXZXt jzZUwL">
                                <div class="sc-hmvkKb gsyRVd">
                                    <strong>Шаг 3</strong>
                                </div>
                                <div class="sc-iiBnNu jFPctD">
                                    <p>
                                        Возьмите кейс и с открытой крышкой зажмите кнопку. Индикатор на кейсе будет мигать красным цветом, после этого индикатор начнет мигать белым. Если вы обладатель устройства iPhone, то перед вами проявится анимация подключения. 
                                        Если же вы обладатель устройства Android, то в списке найденных устройств 
                                        Bluetooth появятся AirPods.
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-iuhXDa dBEucF">
                    <div class="sc-eCbnUT fElMzr">
                        <div class="sc-irqbAE kxZWSs flipped">
                            <div class="sc-ezjrSx hqEaYA">
                                <div class="sc-kBqmDu joLJeQ last">

                                </div>
                                <div class="sc-gJjCVn jSYvfE">
                                    <div class="sc-eKaNGd cMApHi">4</div>
                                </div>
                            </div>
                            <div class="sc-fGgQJw cvuikC flipped">
                                <img class="sc-dYXZXt jzZUwL flipped" src="{% static 'img/Step_3.gif' %}">
                                <div class="sc-hmvkKb gsyRVd flipped">
                                    <strong>Шаг 4</strong>
                                </div>
                                <div class="sc-iiBnNu jFPctD">
                                    Нажмите  "Подключить". Готово!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}іі