{% extends 'base.html' %}

{% block content %}
<div class="container-wide container-small">
    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-title">
                <span>Отправка по Новой Почте</span>
            </h1>
            <h4 class="bold-text my-title font-30">
                В вашем городе нет мастера, который возьмётся за ремонт наушников? Это не проблема. <br>
                Что для этого нужно:
            </h4>
            <h3 class="bold-text bold-text-mobile ">
                <span>1</span> Шаг
            </h3>
            <p>
                Свяжитесь со мной по указанному номеру телефона:
            </p>
            <h2 class="bold-text">
                +38(067)-352-58-19
            </h2>
            <h3 class="bold-text bold-text-mobile ">
                <span>2</span> Шаг
            </h3>
            <p>
                В телефонном режиме я отвечу на все ваши вопросы, касающиеся ремонта 
                наушников и наличии товара.
            </p>
            <h3 class="bold-text">
                Данные для отправки
            </h3>
            <ul>
                <li>
                    Город: <b>Винница</b>
                </li>
                <li>
                    Отделение: <b>№ 26</b>
                </li>
                <li>Получатель: <b>Климчук Богдан Сергеевич</b></li>
                <li>
                    Телефон получателя: <b>+38(067)-352-58-19</b>
                </li>
            </ul>
            <h3 class="bold-text bold-text-mobile ">
                <span>3</span> Шаг
            </h3>
            <p>
                После окончания утвержденных работ, я информирую о готовности заказа, а также обязательно 
                согласовою сроки обратной доставки в ваш город.
            </p>
            <h3 class="my-title delivery-title">
                <span>Оплата за ремонт</span>
            </h3>
            <ul>
                <li>
                    Наложенным платежом в отделении Новой Почты по прибытию вашей посылки.
                </li>
                <li>
                    Оплата на счет Монобанка, Приватбанка (VISA, MasterCard).
                </li>
                <li>
                    Оплата наличными в городе Винница.
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock content %}